body {
  font-family: sans-serif;
}

img{
  max-width: 250px;
}

button {
  height: 30px;
  padding: 0px 30px;
}

.btn-cancel {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}