{% extends 'base.html' %}

{% block title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<img src={{user.image_url}}>

<form action="/users/{{user.id}}/edit">
  <button type="submit">Edit</button>
</form>

<form action="/users/{{user.id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>

<h2>Posts</h2>

<ul>
{% for post in posts %}
  <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<form action="/users/{{user.id}}/posts/new">
  <button type="submit">Add Post</button>
</form>

{% endblock %}